<%= form_for(@growth_calculator) do |f| %>
    <% if @growth_calculator.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@growth_calculator.errors.count, "error") %> prohibited this growth_calculator from being
            saved:</h2>

          <ul>
            <% @growth_calculator.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :starting_population %><br>
      <%= f.number_field :starting_population %>
    </div>
    <div class="field">
      <%= f.label :growth_rate %><br>
      <%= f.text_field :growth_rate %>
    </div>
    <div class="field">
      <%= f.label :time_frame %><br>
      <%= f.number_field :time_frame %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
<!-- Table will be inserted here -->
<div id="growth-table" class="table-format"></div>
