<p id="notice"><%= notice %></p>

<h1>Listing Growth Calculators</h1>

<table>
  <thead>
    <tr>
      <th>Starting population</th>
      <th>Birth rate</th>
      <th>Time frame</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @growth_calculators.each do |growth_calculator| %>
      <tr>
        <td><%= growth_calculator.starting_population %></td>
        <td><%= growth_calculator.growth_rate %></td>
        <td><%= growth_calculator.time_frame %></td>
        <td><%= link_to 'Show', growth_calculator %></td>
        <td><%= link_to 'Edit', edit_growth_calculator_path(growth_calculator) %></td>
        <td><%= link_to 'Destroy', growth_calculator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Growth calculator', new_growth_calculator_path %>
