<p id="notice"><%= notice %></p>

<p>
  <strong>Starting population:</strong>
  <%= @growth_calculator.starting_population %>
</p>

<p>
  <strong>Birth rate:</strong>
  <%= @growth_calculator.growth_rate %>
</p>

<p>
  <strong>Time frame:</strong>
  <%= @growth_calculator.time_frame %>
</p>

<%= render 'population_table' %>

<%= link_to 'Edit', edit_growth_calculator_path(@growth_calculator) %> |
<%= link_to 'Back', growth_calculators_path %>
